In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("raw_data.csv")

In [3]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$80K-$120K (Employer est.),About ClearCut Analytics\nClearCut was founded...,4.8,ClearCut Analytics\n4.8,"Chicago, IL",-1,1 to 50 Employees,2016,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,-1
1,1,Data Scientist 1,$80K-$120K (Employer est.),"At NGL, we strive to make data-driven decision...",3.0,National Guardian Life Insurance Company\n3.0,"Madison, WI",-1,201 to 500 Employees,1909,Company - Private,Insurance Carriers,Insurance,$500 million to $1 billion (USD),-1
2,2,Data Scientist,$80K-$120K (Employer est.),Job Description:Metron is seeking talented Dat...,3.0,"Metron, Inc.\n3.0","Reston, VA",-1,51 to 200 Employees,-1,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,$25 to $50 million (USD),-1
3,3,Certified Lab Scientist or Certified Lab Tech,$80K-$120K (Employer est.),Prairie Ridge Health is looking for a team mem...,-1.0,Prairie Ridge Health,"Columbus, WI",-1,201 to 500 Employees,-1,Hospital,-1,-1,Less than $1 million (USD),-1
4,4,Senior Data Scientist,$80K-$120K (Employer est.),"Sartorius Stedim Data Analytics, a market lead...",3.6,Sartorius\n3.6,"Albuquerque, NM",-1,5001 to 10000 Employees,1870,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$1 to $2 billion (USD),-1

In [4]:
df = df.drop(['Unnamed: 0'], axis =1)
df = df.drop(['Headquarters'], axis =1)
df = df.drop(['Competitors'], axis =1)

#Salary_Estimate

In [5]:
df = df[df['Salary Estimate'] != '-1'] #check if there is null in salary estimate column
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0]) #split text
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$','').replace(' Per Hour','')) #replace unnecessary characters
df['min_salary'] = minus_Kd.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = minus_Kd.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary+df.max_salary)/2 #average salary calculation

#Location

In [6]:
df['Location'] = df['Location'].apply(lambda x: x.replace('New Jersey','New Jersey, NJ').replace('Utah','Utah, UT').replace('California','California, CA').replace('Remote','Remote, REM').replace('Missouri','Missouri, MO').replace('Virginia','Virginia, VA').replace('United States','United States, USA'))
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1]) #extract state ID

#Other columns

In [7]:
#replace -1 to unknowns in other string columns
df['Size'] = df['Size'].apply(lambda x: x.replace('-1','Unknown'))
df['Type of ownership'] = df['Type of ownership'].apply(lambda x: x.replace('-1','Unknown'))
df['Industry'] = df['Industry'].apply(lambda x: x.replace('-1','Unknown'))
df['Sector'] = df['Sector'].apply(lambda x: x.replace('-1','Unknown'))
df['Revenue'] = df['Revenue'].apply(lambda x: x.replace('-1','Unknown'))

#Job_Title

In [8]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    else:
        return 'na'
    
    
df['job_simp'] = df['Job Title'].apply(title_simplifier)

#Job Technology columns

In [9]:
df['Python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['R'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['Spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['AWS'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['Excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['SQL'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)

#Founded

In [10]:
df['age'] = df.Founded.apply(lambda x: x if x < 1 else 2020 - x)

# Final cleaned data

In [12]:
df.to_csv("inputdf.csv")

In [13]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,avg_salary,job_state,job_simp,Python,R,Spark,AWS,Excel,SQL,age
0,Data Scientist,$80K-$120K (Employer est.),About ClearCut Analytics\nClearCut was founded...,4.8,ClearCut Analytics\n4.8,"Chicago, IL",1 to 50 Employees,2016,Company - Private,Research & Development,...,100.0,IL,data scientist,1,0,0,0,0,1,4
1,Data Scientist 1,$80K-$120K (Employer est.),"At NGL, we strive to make data-driven decision...",3.0,National Guardian Life Insurance Company\n3.0,"Madison, WI",201 to 500 Employees,1909,Company - Private,Insurance Carriers,...,100.0,WI,data scientist,0,0,0,0,1,0,111
2,Data Scientist,$80K-$120K (Employer est.),Job Description:Metron is seeking talented Dat...,3.0,"Metron, Inc.\n3.0","Reston, VA",51 to 200 Employees,-1,Company - Private,Electrical & Electronic Manufacturing,...,100.0,VA,data scientist,1,0,0,0,1,1,-1
3,Certified Lab Scientist or Certified Lab Tech,$80K-$120K (Employer est.),Prairie Ridge Health is looking for a team mem...,-1.0,Prairie Ridge Health,"Columbus, WI",201 to 500 Employees,-1,Hospital,Unknown,...,100.0,WI,na,0,0,0,0,0,0,-1
4,Senior Data Scientist,$80K-$120K (Employer est.),"Sartorius Stedim Data Analytics, a market lead...",3.6,Sartorius\n3.6,"Albuquerque, NM",5001 to 10000 Employees,1870,Company - Public,Biotech & Pharmaceuticals,...,100.0,NM,data scientist,1,0,0,0,1,0,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Data Scientist,$26K-$59K (Glassdoor est.),SURVICE Engineering is nationally recognized a...,3.9,SURVICE Engineering Company\n3.9,"Lexington Park, MD",201 to 500 Employees,1981,Company - Private,Aerospace & Defense,...,42.5,MD,data scientist,1,0,0,0,1,0,39
996,Aviation FOQA Data Scientist,$26K-$59K (Glassdoor est.),Why choose between doing meaningful work and h...,3.3,MITRE\n3.3,"McLean, VA",5001 to 10000 Employees,1958,Nonprofit Organization,Federal Agencies,...,42.5,VA,data scientist,1,0,1,0,1,1,62
997,Data Scientist,$26K-$59K (Glassdoor est.),ROLE AND RESPONSIBILITIESWill work with engine...,3.9,EWA Warrior Services\n3.9,"Huntsville, AL",201 to 500 Employees,1977,Contract,Research & Development,...,42.5,AL,data scientist,0,0,0,0,0,0,43
998,SoC Performance Modeling Engineer,$26K-$59K (Glassdoor est.),JOB TITLE: SoC Performance Modeling Engineer\n...,3.5,"Samsung Semiconductor, Inc.\n3.5","San Jose, CA",1001 to 5000 Employees,1983,Subsidiary or Business Segment,Computer Hardware & Software,...,42.5,CA,na,1,0,0,0,1,0,37
999,Data Scientist,$26K-$59K (Glassdoor est.),Requisition Number:\nATS-10419\n\nJob Title:\n...,4.1,Scientific Research\n4.1,"Fort Belvoir, VA",1001 to 5000 Employees,-1,Subsidiary or Business Segment,Research & Development,...,42.5,VA,data scientist,0,0,0,0,1,0,-1